.lightTheme() {
  --bg-color: #fff;
  --txt-color: #2c3e50;
  --ad-shadow:#ededed;
  --im-menu-bg: #4D5FFF;
  --im-content-shadow1: #f5f5f5;
  --im-content-shadow2: #ffffff;
  --im-content-bg1: #e6e6e6;
  --im-content-bg2: #ffffff;
}

.darkTheme() {
  --bg-color: #292D32;
  --txt-color: #fff;
  --ad-shadow:#23262b;
  --im-menu-bg: #292d32;
  --im-content-shadow1: #272b30;
  --im-content-shadow2: #2b2f34;
  --im-content-bg1: #25292d;
  --im-content-bg2: #2c3036;
}