.lightTheme() {
  --bg-color: #f2f2f2;
  --txt-color: #2c3e50;
  --ad-shadow:#ededed;
  --im-content-bg1: #4D5FFF;
  --im-content-bg2: #ffffff;
  --im-list-bg: #f8f8f8;
  --im-list-avatar-bg1:#ffffff;
  --im-list-avatar-bg2:#e6e6e6;
  --im-list-avatar-shadow1:#4D5FFF;
  --im-list-avatar-shadow2:#ffffff;
  --im-primary:#4D5FFF;
  --im-search-shadow1:#cfcfcf;
  --im-search-shadow2:#ffffff;
  --im-content-shadow1:#eaeaea;
  --im-content-shadow2:#eae7e7;
  --im-shadow1:#e7e7e8;
  --im-shadow2:#ffffff;
  --im-bg1:#EDEDED;
  --im-bg2:#ffffff;
  --im-txt-bg:#bcc2fd;
  --im-nav-bg:#4D5FFF;
  --im-head-bg:#fff;
  --im-head-txt:#333;
}

.darkTheme() {
  --bg-color: #292D32;
  --txt-color: #fff;
  --ad-shadow:#23262b;
  --im-content-bg1: #292d32;
  --im-content-bg2: #272a2f;
  --im-list-bg: #272a2f;
  --im-list-avatar-bg1:#2e3239;
  --im-list-avatar-bg2:#272a30;
  --im-list-avatar-shadow1:#1f2126;
  --im-list-avatar-shadow2:#373d44;
  --im-primary:#4D5FFF;
  --im-search-shadow1:#212429;
  --im-search-shadow2:#31363c;
  --im-content-shadow1:#222529;
  --im-content-shadow2:#2c2f35;
  --im-bg1:#25292d;
  --im-bg2:#2c3036;
  --im-shadow1:#272b30;
  --im-shadow2:#2b2f35;
  --im-txt-bg:#ffffff;
  --im-nav-bg:#292D32;
  --im-head-bg:#fff;
  --im-head-txt:#fff;
}