@import './theme.less';
// 高亮主题
.theme-light {
  .lightTheme();
}
// 黑暗主题
.theme-dark {
  .darkTheme();
}
@bg-color:var( --bg-color);
@txt-color:var( --txt-color);
@ad-shadow:var( --ad-shadow);
@im-content-bg1:var( --im-content-bg1);
@im-content-bg2:var( --im-content-bg2);
@im-content-shadow1:var( --im-content-shadow1);
@im-content-shadow2:var( --im-content-shadow2);

